<footer class="footer">
<p>Created by <a class="footer-links" href="https://github.com/Yazino12">Yasin</a> and <a class="footer-links" href="https://github.com/Ogaga01">
Ogaga</a> © 2022</p>
</footer>