<h1>Add Ingredient</h1>

<div>
  <%= form_with model: @recipe_food, url: recipe_recipe_foods_path do |f| %>

    <br>
    <p>Select Ingredient</p>
    <%= f.select :food_id, @foods.map { |food| [food.name, food.id] }, {}, { class:'form-select'} %>

    <br>
    <p>Quantity</p>
    <%= f.number_field :quantity, { class:'form-select'} %>
    <%= f.submit "Add Ingredient" %>
  <% end %>
</div>